@{
    ViewData["Title"] = "Home Page";
}

<!-- Pokemon type -->
<h1>Type: @ViewData["type"]</h1>

<div class="pokemon-list-container">
    <!-- moves list -->
    <div>
        <h3>Moves:</h3>
        <ul>
        @foreach (var item in ViewData["moves"] as IEnumerable<String>)
        {
            <li>@item</li>   
        }
        </ul>
    </div>

    <!-- pokemon list -->
    <div>
        <h3>Pokemon:</h3>
        <ul>
        @{int i = 0;}
        @foreach (var item in ViewData["pokemon"] as IEnumerable<String>)
        {
            <li>@item</li>
            var sprites = (String[]) ViewData["sprites"];
            var url = sprites[@i];
            <img src=@url />
            i++;   
        }
        </ul>
    </div>

    <!-- weakness list -->
    <div>
        <h3>Weakness:</h3>
        <ul>
        @foreach (var item in ViewData["weak"] as IEnumerable<String>)
        {
            <li>@item</li>   
        }
        </ul>
    </div>

    <!-- no damage from list -->
    <div>
        <h3>No Damage From:</h3>
        <ul>
        @foreach (var item in ViewData["noDamage"] as IEnumerable<String>)
        {
            <li>@item</li>   
        }
        </ul>
    </div>
</div>
